* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #141414;
}
/*Scroll on reveal*/
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1.4s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*Left menu*/
.container-left-menu {
  width: 30%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.container-left {
  width: 260px;
  height: 640px;
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 40px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  position: fixed;
}
#full-size-imgprofile {
  position: absolute;
  width: 30px;
}
#full-size-imgprofile:hover {
  background-color: #ff0046;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.container-left #image-profile {
  border-radius: 20px;
  width: 250px;
  height: 250px;
  box-shadow: 0px 0px 10px rgb(10, 10, 10);
}

.container-left h1 {
  font-weight: 700;
  font-size: 30px;
  margin-top: 10px;
}
.container-left h2 {
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 2px #ff0046;
}
.container-left a {
  text-decoration: none;
  color: white;
  margin-top: 2px;
  font-size: 14px;
  padding: 4px;
  transition: 0.2s ease-in-out;
  width: 200px; /*Not visible but needed for a fluid hover*/
  border-radius: 30px; /*Not visible but needed for a fluid hover*/
}

.container-left a:hover {
  background-color: #ff0046;
  width: 200px;
  border-radius: 30px;
  transform: scale(1.08);
}

.container-left a img {
  vertical-align: middle;
  margin-right: 4px;
  margin-left: 4px;
}

/*main container*/
.container-main-center {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  float: right;
}
/*First card content (Home section) */

#home {
  margin-top: 20px;
  margin-left: 10px;
  width: 80%;
  height: 640px;
  padding: 20px;
  background: linear-gradient(110deg, #2ba0ff, #351ff7, #ffc62b);
  background-size: 180% 180%;
  animation: gradient-animation 8s ease infinite;
  color: white;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home h1 {
  font-size: 3vw;
}
#home p {
  line-height: 2;
  font-size: 16px;
  font-weight: 400;
}
.home-content {
  width: 70%;
}
.home-content .s2i {
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition: 0.4s ease;
}
.home-content .s2i:hover {
  text-shadow: 2px 2px 1px #ff0046;
}
.home-content .scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 14px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}
.arrow-down {
  position: relative;
  animation: updown 1s infinite;
}
@keyframes updown {
  0% {
    top: 0px;
  }
  50% {
    top: 6px;
  }
  100% {
    top: 0px;
  }
}
/*Hand animation */
.hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*Second card content (About me) */

#about-me {
  color: white;
  margin-top: 20px;
  margin-left: 10px;
  width: 80%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  border-radius: 20px;
}

#about-me h2 {
  border-bottom: 4px solid #ff0046;
  width: 160px;
}
.snowflake {
  animation: snowflake 6s ease-in-out infinite;
  display: inline-block;
  transform-origin: center;
}
/*Snowflake animation  */
@keyframes snowflake {
  0% {
    transform-origin: center;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}
.about-me-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.about-me-content #memoji {
  width: 200px;
  margin: 0 auto;
  border: 4px solid #ff0046;
  border-radius: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-me-content #memoji:hover {
  transform: scale(1.1);
  transition: 0.4s ease;
}
.about-me-content p {
  line-height: 2;
  margin: 0 auto;
  font-weight: 400;
}
.about-me-hobbies {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}
#soccer-ball {
  background-color: white;
  border-radius: 30px;
  padding: 2px;
}
.about-me-hobbies img {
  width: 50px;
  vertical-align: middle;
  margin-right: 4px;
}
.about-me-content a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.about-me-content a:hover {
  color: white;
  background-color: #ff0046;
  padding: 2px;
  transition: 0.1s ease-in;
  border-radius: 4px;
  border: none;
}
.about-me-socials {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
.about-me-socials a {
  text-align: left;
  padding: 8px;
  border-radius: 20px;
  font-size: 14px;
  vertical-align: middle;
  background-color: #ff0046;
  color: white;
  font-weight: 500;
}
.about-me-socials img {
  vertical-align: middle;
}
.about-me-socials a:hover {
  padding: 10px;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}
#ig-prvt {
  background: linear-gradient(110deg, #351ff7, #ff8a2b);
  background-size: 180% 180%;
  animation: gradient-animation 8s ease infinite;
}
#ig-ux {
  background: linear-gradient(120deg, #1900ff, #ff7300);
  background-size: 180% 180%;
  animation: gradient-animation 8s ease infinite;
}
#git-hub {
  background: linear-gradient(110deg, #423e68, #333130);
  background-size: 180% 180%;
  animation: gradient-animation 4s ease infinite;
}
#linked-in {
  background: linear-gradient(110deg, #2973cc, #2e3080);
  background-size: 180% 180%;
  animation: gradient-animation 8s ease infinite;
}
#start-2-impact {
  background: linear-gradient(110deg, #09d424, #998f06);
  background-size: 180% 180%;
  animation: gradient-animation 8s ease infinite;
}
.about-me-socials #ig-prvt:hover::after {
  content: ": fabio._.c";
}
.about-me-socials #ig-ux:hover::after {
  content: ": unknown.designer_";
}

.about-me-personal-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.about-me-personal-info li {
  list-style-type: none;
  margin-bottom: 10px;
}
.about-me-personal-info p {
  color: white;
  background-color: #ff5959;
  padding: 6px;
  border-radius: 10px;
}
.about-me-personal-info img {
  vertical-align: middle;
}
.about-me-personal-info a {
  text-decoration: none;
  font-weight: 700;
}

/*Third card content (Resume) */
#resume {
  color: white;
  margin-top: 20px;
  margin-left: 10px;
  width: 80%;
  height: 100%;
  padding: 20px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  border-radius: 20px;
}
#resume h2 {
  border-bottom: 4px solid #ff0046;
  width: 140px;
}
#resume h2 img {
  vertical-align: middle;
}
#resume h4 {
  color: rgb(235, 235, 235);
  font-weight: 300;
}
#resume h4 img {
  vertical-align: middle;
}

.resume-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.resume-container .container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
/*left column with dates*/
.date {
  text-align: center; /*needed for center the dotted line*/
}
.timeline-vertical {
  border-left: 4px dotted rgb(224, 224, 224);
  height: 580px;
  margin-top: 40px;
  position: absolute;
}
.year {
  background-color: #ff0046;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  color: white;
  font-weight: 700;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 8vw;
  position: relative;
}
/*central column with degrees*/
.diploma {
  width: 300px;
  display: flex;
  justify-content: space-between; /*it puts on the starts the degree and the button to look at it at the end*/
  align-items: center;
  background-color: #272727;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  height: 40px;
  padding: 8px;
  margin-bottom: 30px;
  font-weight: 500;
}
.diploma a {
  margin-left: 4px;
  margin-right: 4px;
}
.diploma a img {
  vertical-align: middle;
}
.ef-set {
  color: black;
  background-color: white;
}
.accdm {
  background-color: #2679e3;
}
.ibmi {
  color: black;
  background-color: white;
}
.fcc {
  background-color: #0a0a23;
}
.s2impact {
  background-color: rgb(10, 10, 10);
  margin-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 0px 0px rgb(0, 0, 0);
}
.diploma-logo {
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
.more_s2i {
  position: relative;
  padding: 8px;
  background-color: rgb(10, 10, 10);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.percorso_s2i img {
  width: 40px;
  border-radius: 30px;
  margin-right: 4px;
}
.percorso_s2i img:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in;
}
.percorso_s2i .completed {
  border: 4px solid #1bc75b;
}
.percorso_s2i .tocomplete {
  opacity: 50%;
}
/*Fourth card content (Skills) */
#skills {
  color: white;
  margin-top: 20px;
  margin-left: 10px;
  width: 80%;
  height: 100%;
  padding: 20px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  border-radius: 20px;
}
#skills h2 {
  border-bottom: 4px solid #ff0046;
  width: 120px;
}
.skills-container {
  width: 100%;
  display: flex;
  flex-direction: row; /*useful to have the skills in two columns instead of two*/
  flex-wrap: wrap;
  justify-content: flex-start;
}
.skills-container img {
  height: 50px;
}
/*html-css bar*/
.skill {
  height: 30px;
  width: 50%; /*width that takes half of the container which allows to have the skills on two columns*/
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}
.html-css-bar {
  width: 0%;
  height: 100%;
  background-color: #e96329;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  padding: 10px;
  animation: fill-bar 6s infinite;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /*keeps the name of the skill at the left, and the percentage at right*/
}
.percentage {
  margin-left: 10px; /*needed to not go over on the name of the skill with the percentage*/
}
@keyframes fill-bar {
  from {
    width: 20%;
  }
  to {
    width: 65%;
  }
}
/*figma skill */

.figma-bar {
  width: 0%;
  height: 100%;
  background-color: #1e1e1e;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  padding: 10px;
  animation: fill-bar-figma 6s infinite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@keyframes fill-bar-figma {
  from {
    width: 20%;
  }
  to {
    width: 75%;
  }
}
/*xd skill */

.xd-bar {
  width: 0%;
  height: 100%;
  background-color: #ff61f6;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  padding: 10px;
  animation: fill-bar-xd 6s infinite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@keyframes fill-bar-xd {
  from {
    width: 24%;
  }
  to {
    width: 70%;
  }
}
/*photoshop skill */

.photoshop-bar {
  width: 0%;
  height: 100%;
  background-color: #2da9ff;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  padding: 10px;
  animation: fill-bar-photoshop 6s infinite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@keyframes fill-bar-photoshop {
  from {
    width: 24%;
  }
  to {
    width: 55%;
  }
}
/*illustrator skill */

.illustrator-bar {
  width: 0%;
  height: 100%;
  background-color: #f59300;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  padding: 10px;
  animation: fill-bar-illustrator 6s infinite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@keyframes fill-bar-illustrator {
  from {
    width: 20%;
  }
  to {
    width: 65%;
  }
}
/*copywriting skill */
.copywriting-bar {
  width: 0%;
  height: 100%;
  background-color: #2aca32;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  padding: 10px;
  animation: fill-bar-copywriting 6s infinite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@keyframes fill-bar-copywriting {
  from {
    width: 26%;
  }
  to {
    width: 75%;
  }
}
/*office skill */
.office-bar {
  width: 0%;
  height: 100%;
  background-color: #f33b00;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  padding: 10px;
  animation: fill-bar-office 6s infinite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@keyframes fill-bar-office {
  from {
    width: 20%;
  }
  to {
    width: 60%;
  }
}

#skills p {
  margin-top: 20px;
  margin-bottom: 20px;
}
#skills i {
  color: #f8f8f8;
  font-weight: 300;
}
#skills h3 {
  margin-top: 10px;
  font-weight: 500;
}
.soft-skills-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}
.soft-skills-container .soft-skill {
  padding: 8px;
  background-color: #ff0046;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#skills .quote {
  text-align: center;
  font-weight: 500;
}
/*Fifth card (My Projects)*/
#my-projects {
  color: white;
  margin-top: 20px;
  margin-left: 10px;
  width: 80%;
  height: 100%;
  padding: 20px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  border-radius: 20px;
}
#my-projects h2 {
  border-bottom: 4px solid #ff0046;
  width: 180px;
}
#my-projects h3 img {
  width: 30px;
  margin-right: 4px;
}
#my-projects img {
  vertical-align: middle;
}
.projects-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
}
.container-html-css {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.container-s2i {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.container-uxui {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.container-draw {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
#subtitle-draw a {
  text-decoration: none;
  color: #ff0046;
}
#subtitle-draw a:hover {
  transition: 0.4s;
  color: white;
  background-color: midnightblue;
  padding: 2px;
  border-radius: 4px;
}
.card {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card:hover {
  transform: translateY(-6px);
  transition: 0.4s ease;
}
.card-caption {
  font-weight: 500;
  padding: 4px;
  text-align: center;
  color: white;
}
.card a {
  text-decoration: none;
  color: white;
  background-color: #ff0046;
  box-shadow: 0px 0px 10px rgba(31, 31, 31, 0.253);
  padding: 10px;
  border-radius: 30px;
  vertical-align: middle;
  font-weight: 500;
}
.card a:hover {
  transform: scale(1.1);
  transition: 0.4s;
  background-color: midnightblue;
  color: white;
}
.card-caption-pepsi {
  font-weight: 500;
  padding: 4px;
  text-align: center;
}
.card-caption-pepsi img {
  width: 30px;
  vertical-align: middle;
}
.card-caption-pepsi img:hover {
  transform: rotate(360deg);
  transition: 2s ease;
}
.container-s2i a {
  border-radius: 20px;
}
.container-draw a {
  border-radius: 20px;
  text-align: center;
}
.thumbnail-draw {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card-caption-draw {
  color: white;
  text-shadow: 0px 2px 2px midnightblue;
  text-align: center;
}
/*Sixth card (Contact me)*/
#contact-me {
  color: white;
  margin-top: 20px;
  margin-left: 10px;
  width: 80%;
  height: 100%;
  padding: 20px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  border-radius: 20px;
}
#contact-me h2 {
  border-bottom: 4px solid #ff0046;
  width: 180px;
}
.contact-me-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.contact-me-container p {
  width: 60%;
  margin: 0 auto;
  line-height: 1.8;
}
.contact-me-container h1 {
  text-align: center;
}
.contact-me-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#qr-code {
  border-radius: 10px;
}
.contact-me-form figure {
  display: flex;
  flex-direction: column;
}
input[type="submit"] {
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 30px;
  padding: 8px;
  background-color: #ff0046;
  color: white;
  cursor: pointer;
}
.contact-me-container input:hover {
  transform: scale(1.1);
  transition: 0.4s;
  background-color: midnightblue;
}
.contact-me-form figcaption {
  font-weight: 500;
}
.contact-me-form img {
  width: 100px;
}
.contact-me-simple-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}
footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 10px;
  width: 80%;
  color: rgb(168, 168, 168);
}
footer a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  border-bottom: 1px solid white;
}
/*media query*/
@media (max-width: 1600px) {
  .container-left-menu {
    align-items: flex-end;
    width: 40%;
  }
  .container-main-center {
    width: 60%;
    align-items: flex-start;
  }
}
@media (max-width: 1200px) {
  .about-me-content {
    width: 100%;
  }
  .about-me-personal-info p {
    font-size: 14px;
  }
  .skills-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skill {
    width: 100%;
  }
}
@media (max-width: 856px) {
  /*for tablet*/
  .container-left-menu {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #full-size-imgprofile {
    display: none;
  }
  .container-left {
    width: 80%;
    height: 640px;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    position: relative;
  }
  .container-main-center {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4px;
    width: 100%;
  }
  #home h1 {
    font-size: 6vw;
  }
  .year {
    font-size: 2.4vw;
  }
  .card {
    width: 180px; /*useful to have two windows instead of only one*/
    height: 180px;
  }
  .card-caption-draw {
    font-size: 14px;
  }
  .about-me-hobbies {
    flex-direction: column;
  }
}
@media (max-width: 436px) {
  /*for smartphone*/
  .timeline-vertical {
    display: none;
  }
  .year {
    display: none;
  }
  .soft-skills-container {
    justify-content: space-evenly;
  }
  .degree {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 16px;
  }
  .container-html-css {
    justify-content: space-evenly;
  }
  .container-s2i {
    justify-content: space-evenly;
  }
  .container-uxui {
    justify-content: space-evenly;
  }
  .container-draw {
    justify-content: space-evenly;
  }
}
